RubricaApi/obj/Debug/net10.0/RubricaApi.AssemblyInfo.cs
RubricaApi/obj/Debug/net10.0/RubricaApi.AssemblyInfoInputs.cache
RubricaApi/obj/Debug/net10.0/RubricaApi.assets.cache
RubricaApi/obj/Debug/net10.0/RubricaApi.csproj.AssemblyReference.cache
RubricaApi/obj/Debug/net10.0/RubricaApi.GeneratedMSBuildEditorConfig.editorconfig
.env